platform :ios, '13.0'

target 'App' do
  cap_pods

  pod 'Capacitor', :path => '../../node_modules/@capacitor/ios'
  pod 'CapacitorCordova', :path => '../../node_modules/@capacitor/ios'
  pod 'CapacitorCamera', :path => '../../node_modules/@capacitor/camera'
  pod 'CapacitorGeolocation', :path => '../../node_modules/@capacitor/geolocation'

end

post_install do |installer|
  assertDeploymentTarget(installer)
end

def cap_pods
end

def assertDeploymentTarget(installer)
  installer.pods_project.targets.each do |target|
    assertDeploymentTargetForPods(target)
  end
end

def assertDeploymentTargetForPods(target)
  if target.respond_to?(:deployment_target)
    current_target = target.deployment_target
    minimum_target = '13.0'
    if current_target.to_s.split('.').first.to_i < minimum_target.split('.').first.to_i
      target.deployment_target = minimum_target
    end
  end
end
